In [12]:
person={
    "first":"mari",
    "last":"muthu",
    "email":"muthumariappan002@gmail.com"
}
people={
    "first":["mari","ram","thiruttu"],
    "last":["muthu","kumar","kutti"],
    "email":["muthumariappan002@gmail.com","ram003@gamil.com","thiruttu@gmail.com"]
}

In [13]:
import pandas as pd
df=pd.DataFrame(people)
df

      first   last                        email
0      mari  muthu  muthumariappan002@gmail.com
1       ram  kumar             ram003@gamil.com
2  thiruttu  kutti           thiruttu@gmail.com

In [17]:
#accessing columns
df['email']

0    muthumariappan002@gmail.com
1               ram003@gamil.com
2             thiruttu@gmail.com
Name: email, dtype: object

In [18]:
df.email

0    muthumariappan002@gmail.com
1               ram003@gamil.com
2             thiruttu@gmail.com
Name: email, dtype: object

In [19]:
df[['last','email']]

    last                        email
0  muthu  muthumariappan002@gmail.com
1  kumar             ram003@gamil.com
2  kutti           thiruttu@gmail.com

In [26]:
#iloc-integer location
#loc-label location
df.iloc[0]

first                           mari
last                           muthu
email    muthumariappan002@gmail.com
Name: 0, dtype: object

In [24]:
df.iloc[[0,1]]

  first   last                        email
0  mari  muthu  muthumariappan002@gmail.com
1   ram  kumar             ram003@gamil.com

In [27]:
df.iloc[[0,1],2]

0    muthumariappan002@gmail.com
1               ram003@gamil.com
Name: email, dtype: object

In [28]:
#loc
df.loc[0]

first                           mari
last                           muthu
email    muthumariappan002@gmail.com
Name: 0, dtype: object

In [29]:
df.loc[[0,1]]

  first   last                        email
0  mari  muthu  muthumariappan002@gmail.com
1   ram  kumar             ram003@gamil.com

In [31]:
#use label
df.loc[[0,1],'email']

0    muthumariappan002@gmail.com
1               ram003@gamil.com
Name: email, dtype: object

In [33]:
df.loc[[0,1],['last','email']]

    last                        email
0  muthu  muthumariappan002@gmail.com
1  kumar             ram003@gamil.com